/* Css Style */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.center {
  text-align: center;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 34px;
}
section {
  padding: 65px 0 75px 0;
}
span.orange,
.orange {
  color: orange;
}
.flex-content {
  display: flex;
}
.top-banner {
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 85%;
  margin-top: 1.5em;
}

.link-btn {
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(orange, #e6b800);
  text-decoration: none;
  padding: 10px 40px;
  color: aliceblue;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0.75em;
}

.dream-big {
  background: url(image/dream-bg.png) no-repeat right #f2f2f2;
}
.dream-big p {
  padding-right: 7em;
}

.experience-area {
  background: url(image/exp-bg.png) no-repeat left 70%;
}

.experience {
  width: 40%;
  margin: 0 5% 0 5%;
  padding: 2em;
  box-shadow: 5px 5px 30px orange;
}
.fullstack-border {
  border-left: 7px solid;
  /* border-image: linear-gradient(red, blue) 2; */
  border-image: linear-gradient(coral, orange, green);
  border-image-slice: 1;
}
.frontend-border {
  border-left: 7px solid;
  border-image: linear-gradient(orange, coral) 3;
}
